<div class="d-flex justify-content-end w-75 ms-auto mb-2 mt-2" style="font-size: 5px;">
    <a class="weatherwidget-io" href="https://forecast7.com/ru/51d9430d81/loyew/" data-label_1="ЛОЕВ"
       data-font="Palatino" data-icons="Climacons Animated" data-mode="Forecast" data-days="3" data-theme="clear"
       style="width:221px;">ЛОЕВ
        WEATHER</a>
</div>
<script>
    !function (d, s, id) {
        let js, fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://weatherwidget.io/js/widget.min.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'weatherwidget-io-js');
</script>